what are the things that I would need?
We are talking about a anonymous report system


*(MANDATORY)Date and time of event(Custom option to add any time)
*(MANDATORY)Short summary
*(MANDATORY)Category Of report
*(MANDATORY)Severioty / priority
*(MANDATORY)Exact Location (ability to fill/type or pick from location picker for smartphone users)
(OPtional)Image upload if applicable
(OPtional) Detailed summary
