/* EXPERIMENTAL AREA TOUCH AT YOUR OWN RISK */
/* ALL CSS/ GLOBAL */
*,
*:before,
*:after {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY CSS */
body {
  background-color: #080710;
}

/* GRAPHICAL BACKGROUND CIRCLE CSS */
.background {
  width: 60%;
  height: 520px;
  position: absolute;
  transform: translate(-80%, -60%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 150px;
  width: 150px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: 190px;
  top: -60px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -370px;
  bottom: -250px;
}

/* FORM IN BODY STYLING */
.faq {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 1111px;
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.13);
  /* position: absolute;
  transform: translate(-50%, -50%); */
  /* top: 50%;
  left: 50%; */
  margin: 50px auto 50px auto;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.faq {
  /* here if we put a star * then it couldnt be overwritten */
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.faq--title {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
}

.faq--ques {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.faq--ans {
  font-size: 16px;
}

button {
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


.button-last:hover{
background-color:   #23a2f6;
}
