body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* margin-left: 50%; */
  position: relative;
  border: 4px solid #Fff;
  animation: loader 3s  infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 3s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


/* ==================== CUSTOM CSS ======================= */

.text-load-head{
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.load-logo{
  font-family: poppins;
  font-size: 1.1rem;
  align-items: center;
  text-align: center;
  display: block;
  max-width: 500px;
  color: aliceblue;
}
.long-text1{
  font-size: 1rem;
  margin-left: 80px;
  max-width: 350px;
}

.long-text2{
  font-size: .9rem;
}
.ncb{
  font-weight: bold;
}
.long-text3{
  max-width: 200px;
  margin-left: 150px;
  font-size: .8rem;
  line-height: 1rem;
  /* margin-bottom: .5rem;
  padding-bottom: .5rem; */
}
.long-text4{
  margin-top: .5rem;
  /* padding-top: .5rem; */
  font-size: .75rem;
  line-height: 1rem;
}

.team-name{
  color:aqua;
line-height: 1rem;
  font-weight: 400;
}
