/* EXPERIMENTAL AREA TOUCH AT YOUR OWN RISK */
/* THE BELOW IS THE CSS FOR THE NAVBAR PROBABLY */
/* nav {
  display: flex;
  align-items: center;
  background-color: #0f3454;
  height: 90px;
  padding: 30px 25px;
}

.align-text-top{
  width:60px;
   height:44;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  margin-left: .5rem;
  color: #d0a74f;
  font-weight: 700;
  font-size: 33.33px;
}

.nav--title {
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.language-select{
  color: gainsboro;
  text-decoration: none;
  margin-right: 10px;
}

.language-select:hover{
  color: bisque;
  text-decoration: underline;
}

.auth-login-link{
  color: gainsboro;
  text-decoration: none;
}

.auth-login-link:hover{
  color: bisque;
  text-decoration: underline;
}

.nav--icon {
  height: 60px;
  margin-right: 7px;
} */
/* The below is a very simple and neat trick to change the colour of and image or logo */
/* .nav--icon--login {
  filter: invert(100%);
  height: 40px;
  margin: 1rem;
  margin-left: 1.5rem;
  margin-right: 0;
} */
/* EXPERIMENTAL AREA ENDS HERE */
/* Im going to apply Poppins to the whole page lets see */
/* EXPERIMENTAL AREA TOUCH AT YOUR OWN RISK */
/* Im going to apply Poppins to the whole page lets see */
*{
  font-family: poppins;
}


/* ALL PAGE */
body{
  max-width:95% ;
  /* text-align: center; */
  /* margin-left: 20%; */
  margin-left: 10%;
  margin-right: 10%;
  background-color: #080710;
}

/* BODY STYLING */
.body--title{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -2px;
  /* font-stretch: condensed;   */
}


/* <======================== CIRCLE SHAPE start ========================================> */
.background {
  width: 60%;
  height: 520px;
  position: absolute;
  transform: translate(-80%, -60%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 150px;
  width: 150px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: 180px;
  top: -60px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -370px;
  bottom: -250px;
}

/* <======================== CIRCLE SHAPE END ========================================> */

/* <========================== DEFAULT ADDED CSS ============================> */

/* MAIN SECTION MAYBE */
input[type=text], select {
  /* width: 50%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  /* width: 100%; */
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* background-color: #021725; */
  color: floralwhite;
  padding: 20px;
}


/* <=======================================================================================================> */
/* <==================================== COMPLAINT RAISER FORM ========================================>  */
/* <=========================================================================================================> */


form {
  margin-top: 70px;
  /* height: 820px; */
  width: 80%;
  background-color: rgba(255, 255, 255, 0.13);
  position:relative;
  /* transform: translate(-50%, -50%); */
  /* top: 50%;*/
  /* left: 50%; */
  left: 10%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 20px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}


input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

label{
  display: flow-root;
}
/* .form-control{
  width: 50%;
  display: inline-block;
} */
.form-select, .form-control{
  width: 50%;
  display: inline-block;
}

.add-file{
  width: 10%;
  flex: auto;
  margin-right: 41%;
}

.date-input{
  width: 110%;
  color: ivory;
}

.time-input{
  width: 170%;
}
.Comp-head{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* .div-whole-form{
  /* margin-left: 1%;
  padding-left: 10%;
} */

.div-date{
  display: inline-block;
  padding: 0;
  text-align: left;
}

.date-form{
  display: inline-block;
}

.div-time{
  padding: 0;
  padding-left: 20px;
  display: inline-block;
  text-align: center;
}

.time-form{
  display: inline-block;
  align-items: center;
}

.time-label{
  align-items: right;
}

.time-input{
  align-items: right;
}

.accu-name{
  margin-right: 30px;
}
.form-control, .guilty-name{
  /* width: :100%; */
  height: 40px;
}

.rep-select{
  width: 50%;
}


.addr-label{
  max-width: 100px;

}

.addr-text{
  max-width: 60%;
}



/* def col: #FFCC33 */
.form-control, textarea, select{
  background: none !important;
  border-top: #ffffff 1px solid !important;
  border-left: #ffffff 1px solid !important;
  border-bottom: #ffffff 3px solid !important;
  border-right: #ffffff 3px solid !important;
  border-radius: 2px !important;
  color: #FFCC33 !important;
}

option{
  background-color: #28272f;
  color: white;
}


.input-group-text{

  height: 40px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  padding-right: 2px;
}

.add-file{
  margin-left: 100px;
}

.form-check-input {
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
}


.margin-div{
  margin-top: 10px;
}


.main-form{
  margin-bottom: 100px;
}

.button-last:hover{
background-color:   #23a2f6;
}
